.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}
.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-weight: 500;
  opacity: 0.7;
}

.profile__edit-btn {
  margin-top: auto;
  font-weight: 500;
  max-width: 84px;
  max-height: 16px;
  font-size: 1;
  line-height: 1;
  color: #212121;
  padding: 0;
  border: none;
  background: none;
  white-space: nowrap;
  display: flex;
  gap: 8px;
  opacity: 0.7;
  cursor: auto;
  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__new-post-btn {
  margin-left: auto;
  margin-top: auto;
  background-color: #212121;
  color: #fcf5e5;
  max-width: 149px;
  max-height: 52px;
  padding: 18px 32px;
  border-radius: 8px;
  border: none;
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  cursor: auto;
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.profile__new-post-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    min-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    width: 80px;
    height: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__edit-btn {
    align-self: center;
    width: 100%;
  }

  .profile__new-post-btn {
    margin: 0;
    max-width: 288px;
    width: 100%;
  }
}
